html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }
 /*Added from County github to help margin padding*/



body {
    background-color: #fffffffa;
    }
h1 { 
    font-family: 'TilXL';
    font-size: 40px; 
    padding: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    line-height: 0px; 
}
h2   {
    color: rgb(0, 0, 0);
    
    }
h3  {
    color: rgb(0, 0, 0);
    
}
p    {
    color: rgb(54, 54, 54);
    
    }
form    {
    background-color: rgb(255, 253, 253);
}
input    {
    background-color: #d3aa93; 
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1px;
    transition-duration: 0.4s;
}
input:hover {
    background-color: #dfbba6; 
    color: rgb(255, 255, 255);
}
canvas { 
    background:  rgb(212, 212, 212);; display: block; margin: 0 auto;
    border: 1px solid #000000;
     }

a   {
    font-family: 'TilXL';
    transition: color .5s;
}

a:link {
        color: #ffffff;
        text-decoration: none;
      }
a:visited {
        color: #ffffff;
      }
a:hover {
        color: #d3eaff;
        transition-duration: 0.5s;
      }
a:active {
          color: #ffffff;
      }

        .wrapWrap   {
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }
    p.footer    {
        padding-bottom: 5px;
    }
    .wrapScorch p{
        display: inline-block;
        vertical-align: middle;
    }
    img.scorch {
        width: auto;
        height: 20px;
    }

    .info   {
        text-align: center;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background-color: #000000;
        opacity: 0.7;
    }
    .info li {
        display:inline-block;    
        width: 12rem;
        padding: 0;
    }
    .info li a {
        background-color:#000000;
        display: block;
        padding: 0.5rem;
        padding-left: 3vw;
        padding-right: 3vw;
        border-radius: 1px;
        transition: background-color 0.5s;
        opacity: 0.7;
        object-fit: scale-down; 
        max-width: 100%;
    }
    .info li a:hover   {
        background-color: #707070; 
    }
    .nav    {
        margin-left: auto;
        margin-right: auto;
        width: wrapper;
    }

    .nav li a {
        background-color:#7f7f7f;
        font-size: 20pt;
        display: block;
        padding: 0.5rem;
        padding-left: 12vw;
        padding-right: 12vw;
        border-radius: 1px;
        transition: background-color 0.5s;
        opacity: 0.7;
        object-fit: scale-down; 
    }

/*! Adding custom fonts*/
    
    @font-face {
        font-family: 'TilXL';
        src: url('../fonts/titilliumweb-extralight-webfont.woff2') format('woff2'),
             url('../fonts/titilliumweb-extralight-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    @font-face {
        font-family: 'TilXLItalic';
        src: url('../fonts/titilliumweb-extralightitalic-webfont.woff2') format('woff2'),
             url('../fonts/titilliumweb-extralightitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    @font-face {
        font-family: 'Tilreg';
        src: url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
             url('../fonts/titilliumweb-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    
    

    
