html, body, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
 }
 /*Added from County github to help margin padding*/



body {
    background-color: #ffffff;
    }
h1 { 
    font-family: 'TilXL';
    font-size: 40px; 
    padding: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    line-height: 0px; 
}
a   {
    font-family: 'TilXL';
    transition: color .5s;
}

/*LinkStyle for the site*/
a:link {
        color: #ffffff;
        text-decoration: none;
      }
a:visited {
        color: #ffffff;
      }
a:hover {
        color: #e3f2ff;
        transition-duration: 0.5s;
      }
a:active {
          color: #ffffff;
      }

/*Grey color code: #4d4d4d */
    .navbar   {
        text-align: center;
        list-style-type: none;
        background-color: #4d4d4d;
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 25pt;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        filter: drop-shadow(0pt 0.1pt 5pt #4d4d4d);
    }
    .navbar li {
        display:inline-block;    
        object-fit: scale-down; 
        max-width: 100%;
        width: clamp(2rem);
        padding: 0;

    }
    .navbar li a {
        display: block;
        padding: 0.5rem;
        padding-left: 3vw;
        padding-right: 3vw;
        border-radius: 1px;
        transition: background-color 0.5s;        
    }
    .navbar li a:hover   {
        background-color: #707070; 
    }

/*! Adding custom fonts*/
    
    @font-face {
        font-family: 'TilXL';
        src: url('../fonts/titilliumweb-extralight-webfont.woff2') format('woff2'),
             url('../fonts/titilliumweb-extralight-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    @font-face {
        font-family: 'TilXLItalic';
        src: url('../fonts/titilliumweb-extralightitalic-webfont.woff2') format('woff2'),
             url('../fonts/titilliumweb-extralightitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    @font-face {
        font-family: 'Tilreg';
        src: url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
             url('../fonts/titilliumweb-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }

    
    

    
