
body {
    background-color: #ffffff;
    }
h1 { 
    font-family: 'titillium_webextralight';
    font-size: 40px; 
    padding: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    line-height: 0px; 
}
h2   {
    color: rgb(0, 0, 0);
    
    }
h3  {
    color: rgb(0, 0, 0);
    
}
p    {
    color: rgb(54, 54, 54);
    
    }
form    {
    background-color: rgb(255, 253, 253);
}
input    {
    background-color: #d3aa93; 
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1px;
    transition-duration: 0.4s;
}
input:hover {
    background-color: #dfbba6; 
    color: rgb(255, 255, 255);
}
canvas { 
    background:  rgb(212, 212, 212);; display: block; margin: 0 auto;
    border: 1px solid #000000;
     }

a   {
    font-family: 'titillium_weblight';
}

a:link {
        color: #ffffff;
        text-decoration: none;
      }
a:visited {
        color: #ffffff;
      }
a:hover {
        color: #ffffff;
      }
a:active {
          color: #ffffff;
      }

/*! Adding custom fonts*/

     @font-face {
        font-family: 'titillium_webblack';
        src: url('https://18vmck.github.io/WebFontKit/titilliumweb-black-webfont.woff2') format('woff2'),
             url('../18vmck.github.io/WebFontKit/titilliumweb-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_webblack';
        src: url('../18vmck.github.io/WebFontKit/titilliumweb-black-webfont.woff2') format('woff2'),
             url('../18vmck.github.io/WebFontKit/titilliumweb-black-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_webbold';
        src: url('../18vmck.github.io/WebFontKit/titilliumweb-bold-webfont.woff2') format('woff2'),
             url('../18vmck.github.io/WebFontKit/titilliumweb-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_webbold_italic';
        src: url('./WebFontKit/titilliumweb-bolditalic-webfont.woff2') format('woff2'),
             url('./WebFontKit/titilliumweb-bolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_webextralight';
        src: url('/WebFontKit/titilliumweb-extralight-webfont.woff2'') format('woff2'),
             url('/WebFontKit/titilliumweb-extralight-webfont.woff2'') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_webXLtIt';
        src: url('https://18vmck.github.io/WebFontKit/titilliumweb-extralightitalic-webfont.woff2') format('woff2'),
             url('https://18vmck.github.io/WebFontKit/titilliumweb-extralightitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_webitalic';
        src: url('https://18vmck.github.io/WebFontKit/titilliumweb-italic-webfont.woff2') format('woff2'),
             url('https://18vmck.github.io/WebFontKit/titilliumweb-italic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_weblight';
        src: url('https://18vmck.github.io/WebFontKit/titilliumweb-light-webfont.woff2') format('woff2'),
             url('https://18vmck.github.io/WebFontKit/titilliumweb-light-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_weblight_italic';
        src: url('./WebFontKit/titilliumweb-lightitalic-webfont.woff2') format('woff2'),
             url('./WebFontKit/titilliumweb-lightitalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_webregular';
        src: url('./WebFontKit/titilliumweb-regular-webfont.woff2') format('woff2'),
             url('./WebFontKit/titilliumweb-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_websemibold';
        src: url('./WebFontKit/titilliumweb-semibold-webfont.woff2') format('woff2'),
             url('./WebFontKit/titilliumweb-semibold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    
    
    @font-face {
        font-family: 'titillium_websemibold_italic';
        src: url('./WebFontKit/titilliumweb-semibolditalic-webfont.woff2') format('woff2'),
             url('./WebFontKit/titilliumweb-semibolditalic-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
